body {
  background: #fff;
  color: #3D4348;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 590px;
}

h1, h2, h3, .h1, .h2, .h3 {
  /*color: #46A0AD;*/
}
h1 {
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  color: #46A0AD;
}
.h1 {
  padding-bottom: 20px;
}
h2 {
  margin-top: 0;
}
.h3 {
  margin: 0;
}

.fs-title .new-simu {
  float: right;
  color: #B0F0F9;
  padding: 10px;
  font-size: 18px;
  margin: -10px 0;
  border: 2px solid #B0F0F9;
}

.fs-title .new-simu:hover {
  color: #46A0AD;
  border: 2px solid #46A0AD;
}

div .fs-numbers {
  top: 117px;
  color: #46A0AD;
}

.savings {
  font-size: 18px;
  color: #46A0AD;
}

.table>tbody>tr>td.success {
  background-color: #B0F0F9;
}

.rci-example {
  margin-bottom: 50px;
}

.fs-title {
  background-color: #3D4348;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 40px;
  width: 100%;
}

.fs-title h1 {
  color: #B0F0F9;
  margin: 0;
}
.logo-rci {
  margin: -23px 0;
}

.solutions-avatar{
  float: left;
  text-align: center;
}
.solutions-avatar img {
  border-radius: 50%;
  max-width: 100px;
}
.solutions-body {
  overflow: hidden;
}

.solutions-container {
  margin-top: 140px;
}


.footer-links {
  text-align: center;
}

p.footer-links a {
  margin-top: 50px;
  font-size: 28px;
  display: block;
  padding: 8px 10px;
  border: 3px solid #46A0AD;
  border-radius: 0;
  font-weight: 700;
  color: #46A0AD;
  background-color: #fff;
  margin-right: 8px;
}
p.footer-links a:hover {
  background: #B0F0F9;
  color: #3D4348;
}
.logo-rci {
  margin: -10px 0;
  max-width: 200px;
}

.solutions-money {
  float: right;
  padding: 5px 10px;
  border: 3px solid #46A0AD;
  color: #46A0AD;
  font-size: 28px;
}

.solutions-cta {
  float: right;
  padding: 0.6em 1.5em;
  border-radius: 0;
  font-weight: 700;
  color: #B0F0F9;
  background: #000;
}
.solutions-cta:hover {
  color: #fff;
}

.solutions-split {
  border-right: 2px solid #46A0AD;
  margin-bottom: 15px;
}

@media screen and (max-width: 52.5em) {
  .fs-title {
    padding: 20px;
  }
  .solutions-container {
    margin-top: 100px;
  }
  .solutions-avatar img {
    border-radius: 50%;
    max-width: 60px;
  }
  .logo-rci {
    margin: -10px 0;
    max-width: 115px;
  }
}
